:root {
  --font-family-primary: 'Vollkorn', serif;
  --font-family-secondary: 'PT Sans', sans-serif;
  
  --font-size-title: 1.8rem;
  --line-height-title: 1.1;
  --font-size-caption: 14px;
  --line-height-caption: 1;
  
  --color-text: #fff;
  --color-highlight-primary: #FFEF7E;
  --color-highlight-secondary: #B7F9E9;
  --color-highlight-primary: #cdc271;
  --color-highlight-secondary: #B7F9E9;
  --border-radius-primary: 32px; 
  --background-card-color:#1f1f1f;
}
.article-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  place-items: center;
}
.cusCard {
  /* max-width: 600px; */
  border-radius: var(--border-radius-primary);
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
  background-color: var(--background-card-color);
  padding: 10px !important;
  box-sizing: border-box;
  margin: 0px !important;
  display: flex;
  height:300px ;
  place-items: center;
  gap:10px;
}

.card__image {
  width: 45%;
  border-radius: var(--border-radius-primary);
  -o-object-fit: cover;
     object-fit: cover;
  height:100% !important;
}

.card__content{
  margin: 10px !important;
  width:300px;
  min-width: auto;
}
.card__content p{
  color: #A3A3A3 !important;
}


.card__date {
  display: block;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  text-transform: uppercase;
  color: var(--color-text);
  margin-bottom: 6px;
}

.card__title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  /* color: #ffffff; */
  color: var(--color-text);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  /* background-image: linear-gradient(90deg, var(--color-highlight-primary), var(--color-highlight-secondary)); */
  background-size: 100% 42%;
  background-repeat: no-repeat;
  background-position: 0 85%;
  padding: 0 4px;
  margin-left: -4px;
  transition: all 0.1s ease;
}
 .cusCard:hover {
  background:#343434;
  /* text-decoration: underline; */
}

@media (max-width:870px){
  .cusCard{
    flex-direction: column;
    height: 380px;
  place-items: start;
  /* max-width: 360px; */
  }
  .cusCard .card__image{
    width: 100% ;
    height:200px !important;
  }
}
@media (max-width:650px){
  .article-container{
    grid-template-columns: 1fr;
  }
  .cusCard{
    flex-direction: row;
    height: auto;
  place-items: center;
  }
  .cusCard .card__image{
    width: 35% ;
  }
  .card__title{
    font-size: 1rem;
  }
}