---
import Header from "../components/Header.astro";
import BlurCircle from "@/components/shared/BlurCircle.astro";
import theme from "@/data/theme";
import SEOTags from "@/components/seo/SEOTags.astro";

import "@fontsource/open-sans";
import "@/styles/tailwind.css";
import "@/styles/post.css";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <SEOTags title={title} />

  <body
    class="mx-auto flex min-h-screen flex-col bg-neutral-950 lg:px-10 lg:py-8 px-4 py-4 text-sm text-neutral-400 md:gap-5 md:px-10 md:py-8 sm:px-2"
  >
    <Header />
    <BlurCircle position="top" color={theme.colors.blur.top} />
    <BlurCircle position="bottom" color={theme.colors.blur.bottom} />
    <slot />
    <style is:global>
      html {
        font-family: "Open Sans";
      }
    </style>
  </body>
</html>
